{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel = "stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목차 공간입니다. </title>
</head>
<body>
    <p>안녕하세요. 목차 공간입니다.</p>
    {% load static %}
    <button class='btn btn-primary btn-lg'>
        <a href="/introduce"> introduce</a>>
    </button>
    <button class = 'btn btn-primary btn-lg'>list</button>
    <button class = 'btn btn-primary btn-lg'>write</button>
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>